@page "/Configuration"
@using System.Globalization;
@using Microsoft.AspNetCore.Components
@using MudBlazor
@using RcTireManager.Components.Pages
@using RcTireManager.Data.DTO
@using RcTireManager.Interfaces.Viewmodels
@using RcTireManager.Viewmodels
@inherits LayoutComponentBase
@inject IViewModelConfiguration _viewModelConfiguration

<MudLayout>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>


<div style="display: grid; grid-template-columns: 1vh 98vh 1vh;">
    <MudPaper Class="pa-16 ma-2" Elevation="0" Style="grid-column: 2">
        <div style="display: grid; grid-template-rows: 8vh 8vh 8vh 8vh 8vh 8vh; gap: 2vh">
            <div style="grid-row: 1">
                <MudToggleGroup T="string" SelectedClass="@_viewModelConfiguration.SelectedConfiguration" @bind-Value="_viewModelConfiguration.SelectedConfiguration"
                                SelectionMode="SelectionMode.ToggleSelection" Color="Color.Tertiary" CheckMark="true">
                    <MudToggleItem Value="@(nameof(_viewModelConfiguration.SelectedCar))" Text="Cars" />
                    <MudToggleItem Value="@(nameof(_viewModelConfiguration.SelectedTireSet))" Text="Tire sets" />
                </MudToggleGroup>
                <MudDivider DividerType="DividerType.Middle" Class="my-6" Style="grid-row: 1" />
            </div>

            <div style="grid-row: 2; height:400px;overflow: auto;" id="unique_id_scroll_section">
                <MudStack Row="false">
                    @if (_viewModelConfiguration?.ItemsList != null)
                    {
                        <MudPaper Class="pa-0">
                            <MudButton Variant="Variant.Filled" Color="Color.Info" StartIcon="@Icons.Material.Filled.Add" FullWidth="true" />
                        </MudPaper>


                        @foreach (BaseItemDTO item in _viewModelConfiguration.ItemsList)
                        {
                            <MudPaper Class="pa-4" Style="grid-column: 0 ; grid-row: 0">
                                <div style="display: grid; grid-template-columns: 5vh 15vh 20vh; grid-template-rows: 5vh 5vh">
                                    <div style="grid-column: 1" Position="Position.Absolute.Top.Is0.Start.Is0.Translate.Middle">@item.ID</div>
                                    <div style="grid-column: 2" Position="Position.Absolute.Top.Is0.Start.Is50.Translate.Middle">@item.Name</div>
                                    <div style="grid-column: 3" Position="Position.Absolute.Top.Is0.Start.Is100.Translate.Middle">@item.GetItemTypeName()</div>
                                </div>
                                <MudProgressLinear Color="Color.Secondary" Value="@item.GetRuntimeInMinutes()"
                                                   Class="my-0" Size="Size.Large"
                                                   FullWidth="true"
                                                   Rounded="true" />

                            </MudPaper>
                        }
                    }
                </MudStack>
            </div>
        </div>
    </MudPaper>
</div>


<MudGrid>

</MudGrid>