@page "/"
@using System.Globalization;
@using Microsoft.AspNetCore.Components
@using MudBlazor
@using RcTireManager.Components.Pages
@using RcTireManager.Data.DTO
@using RcTireManager.Interfaces.Viewmodels
@using RcTireManager.Viewmodels
@inherits LayoutComponentBase
@inject IViewModelHome _viewModelHome

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div style="display: grid; grid-template-columns: fr fr fr;">
    <MudPaper Class="pa-16 ma-2" Elevation="0" Style="grid-column: 2">
        <div style="display: grid; grid-template-rows: 8vh 8vh 8vh 8vh 8vh 8vh; gap: 2vh">
            <div style="grid-row: 1">
                <MudSelect T="CarDTO" @bind-value="_viewModelHome.SelectedCar"
                           Label="Select Car"
                           Clearable="true">
                    @foreach (CarDTO car in _viewModelHome.Cars)
                    {
                        <MudSelectItem Value="car">@car.Name</MudSelectItem>
                    }
                </MudSelect>
            </div>
            <div style="grid-row: 2">
                <MudSelect T="TireSetDTO" @bind-value="_viewModelHome.SelectedTireSet"
                           Label="Select Tire"
                           Disabled="_viewModelHome.SelectedCar == null"
                           Clearable="true">
                    @foreach (TireSetDTO set in _viewModelHome.TireSets)
                        if (_viewModelHome.SelectedCar != null)
                            foreach (int tireSetID in _viewModelHome?.SelectedCar.TireSetsIDs)
                                if (tireSetID == set.ID)
                                {
                                    <MudSelectItem Value="set">@set.ID @set.Name</MudSelectItem>
                                }
                </MudSelect>
            </div>
            <div style="grid-row: 3">
                <MudText><b>Previous runtime:</b> @_viewModelHome.SelectedTireSet?.RunTime</MudText>
            </div>
            <div style="grid-row: 4">
                <MudBlazor.MudTimePicker Label="Choose run time" TimeEditMode="TimeEditMode.OnlyMinutes" PickerVariant="PickerVariant.Dialog" @bind-Time="_viewModelHome.RunTime" />
            </div>
            <div style="grid-row: 5">
                <MudBlazor.MudButton FullWidth="true" Variant="Variant.Filled" 
                Color="Color.Info"                
                Disabled="_viewModelHome.SelectedCar==null || _viewModelHome.SelectedTireSet==null || _viewModelHome.RunTime == TimeSpan.Zero"
                StartIcon="@Icons.Material.Filled.Save" @onclick="_viewModelHome.SaveRun">Save Run</MudBlazor.MudButton>
            </div>
        </div>
    </MudPaper>
</div>